header {
  background-color: #f2ccff;
}
a { 
  text-align: center;
  font-size: 23px;
    }  
 .contenitore img {
        display: block; 
        margin: 0 auto; 
       width: 25%; 
        height: auto; 
    }

h1 {
  background-color: #f2ccff;
  text-align: center;
  padding: 20px; 
  font-size: 60px;  
  font-family: "Brush Script MT", cursive;
  
}
div.padding {
  max-width: 1500px;
  margin: 100px auto;
  padding: 35px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
body{
  font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight: 500;
    line-height: 1.5;
   text-align: left;
    margin: 0;
    padding: 0;
   }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9e6ff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ecb3ff;
  color: white;
}

.active {
  background-color: #f9e6ff;
}
p {
  margin: 20px;
}
footer {
  background-color: #f2ccff;
  padding: 40px;
  text-align: center;
  color: white;
}
.w3-content {
  max-width: 980px
}
.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto;
}
.w3-tooltip, .w3-display-container {
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  div {
    display: block;
    unicde-bidi: isolate;
  }
element.style {
  width: 100%;
  display: none;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
img {
  border-style: none;
  border-radius: 8px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.w3-text-white, .w3-text-white: hover {
  color: #fff !important;
}
.w3-section, w3-code {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.w3-center {
  text-align: center !important;
}
.w3-large {
  font-size: 18px !important;
}
.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transformation: translate (50%, 0%);
}
w3-left w3-hover-text-khaki{
  position: left;
}
w3-right w3-hover-text-khaki{
  position: right;
}
div.polaroid {
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 60px;
}

div.gara {
  padding: 50px;
}
h2.italic {
  font-style: italic;
  margin: 20px;
}
