header {
  background-color: #f2ccff;
}
a { 
  text-align: center;
  font-size: 23px;
    }  
 .contenitore img {
        display: block; 
        margin: 0 auto; 
       width: 25%; 
        height: auto; 
    }

h1 {
  background-color: #f2ccff;
  text-align: center;
  padding: 20px; 
  font-size: 60px;  
  font-family: "Brush Script MT", cursive;
  
}

body{
  font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight: 500;
    line-height: 1.5;
   text-align: left;
    margin: 0;
    padding: 0;
   }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9e6ff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ecb3ff;
  color: white;
}

.active {
  background-color: #f9e6ff;
}
p {
  margin: 50px;
}
h3 {
  margin: 50px;
}
footer {
  background-color: #f2ccff;
  padding: 30px;
  text-align: center;
  color: black;
}

div.slideprima {
  width: 200px;
  float: left;
}
div.slideseconda {
  width: 200px;
  float: right;
}
div.slideterza {
  width: 200px;
  float: left;
}
div.slidequarta {
  width: 200px;
  float: right;
}
