
header {
  background-color: #f2ccff;
}
a { 
  text-align: center;
  font-size: 23px;
    }  

    .contenitore img {
       display: block; 
        margin: 0 auto; 
       width: 25%; 
        height: auto; 
    }

div.padding {
 width: 300px;
  padding: 25px;
  box-sizing: border-box;
  background-color: white;
border: 2px solid white;
  border-radius: 8px;  
}
h1 {
  background-color: #f2ccff;
  text-align: center;
  padding: 20px; 
  font-size: 60px;  
  font-family: "Brush Script MT", cursive;
  
}

img { width: 50%;
  
}

.container {
  position: relative;
  width: 50%;
  float: left;
}
.container1 {
  position: relative;
  width: 50%;
  float: left;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  
}
.image1 {
  display: block;
  width: 100%;
  height: auto;
 
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e6e6e6;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8c8c8c;
}

.container:hover .overlay {
  opacity: 1;
}

.container1:hover .overlay1 {
  opacity: 1;
}
.text {
  color: #8c8c8c;
  font-size: 50px;
  font-family: Brush Script MT, monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text1 {
  color: #e6e6e6;
  font-size: 50px;
  font-family: Brush Script MT, monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
h2.italic {
  font-style: italic;
  margin: 100px;
}

body{
  font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight: 500;
    line-height: 1.5;
   text-align: left;
    margin: 0;
    padding: 0;
  background-color: #f2f2f2;
}
p.margin{
  margin: 100px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9e6ff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ecb3ff;
  color: white;
}

.active {
  background-color: #f9e6ff;
}

footer {
  background-color: #f2ccff;
  padding: 40px;
  text-align: center;
  color: white;
}

.column {
  float: left;
  width: 27.99%;
  padding: 15px;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width:550px) {
  .column {
    width: 100%;
  }
}
img.prese {
  width:100%;
}
div.coreo {
  margin-top: 100px;
  margin-left: 100px;
}
