header {
  background-color: #f2ccff; 
}

a:link {
  color: black;
}

a:visited {
  color: black;


a:hover {
  color: white;
}

a:active {
  color: black;
}


h1 {
  background-color: #f2ccff;
  text-align: center;
  padding: 25px; 
  
}

img { width: 50%;
  
}
